body {
	font-family: 'Fira Sans', sans-serif;
}

a {
	display: inline-block;
	text-decoration: none;
}

.sub-left {
	font-size: 22px;
	line-height: 32px;
	letter-spacing: 7.33333px;
	text-transform: uppercase;
	color: #FFFFFF;
	opacity: 0.5;
	padding-left: 100px;
	position: relative;
	display: inline-block;
	&::after {
		content: '';
		position: absolute;
		width: 80px;
		height: 1px;
		left: 0;
		top: 50%;
		background-color: #fff;
		opacity: 0.5;
	}
}